
// Fonts
@import url('https://fonts.googleapis.com/css?family=Domine|Lato');;

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $teal;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img {
  max-width: 500px;
}
